# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5

    - name: Set up JDK 8
      uses: actions/setup-java@v5
      with:
        java-version: "8"
        distribution: "zulu"
        cache: maven

    - name: Build with Maven
      run: mvn --batch-mode package

    - name: Upload artifacts
      uses: actions/upload-artifact@v5
      with:
        name: package
        path: target/*.jar
